<div class="list-group">
  <!-- if below a tag has href="#" then the link will be loaded and page refreshed.
  routerLink is an alternative for a SPA -->
  <a
    
    routerLink="/movies"
    class="list-group-item list-group-item-action"
    [class.bg-dark] = "displayAll"
    [class.text-white] = "displayAll"
    aria-current="true"
    (click)="selectCategory($event)"
  >
    <p class="mb-1">Tüm kategoriler</p>
    <small *ngIf="displayAll">Aradığınız ne varsa</small>
  </a>
  <a
    [routerLink]="['/movies/category/', category.id]"
    *ngFor="let category of categories"
    class="list-group-item list-group-item-action"
    aria-current="true"
    (click)="selectCategory($event, category)"
    [class.bg-dark] = "!displayAll && selectedCategory?.id === category.id"
    [class.text-white] = "!displayAll && selectedCategory?.id === category.id"
  >
    <p class="mb-1">{{ category.title | titlecase }}</p>
    <small *ngIf="!displayAll && selectedCategory?.id === category.id">{{ category.subtitle }}</small>
  </a>
</div>
