<div class="alert alert-danger" *ngIf="error">
  <!-- {{ error.message }} -->
  <!-- An error occured. Please look at logs if you are an IT professional. -->
  <!-- Use this if you use catchError operator when subscribing a data -->
  {{ error }}
</div>
<div class="d-flex justify-content-center">
  <div *ngIf="isLoading" class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div *ngIf="!isLoading">
  <div *ngIf="movies.length > 0; else no_movies">
    <h1>{{ title }}</h1>

    <div class="mb-3">
      <input
        [(ngModel)]="searchTerm"
        (ngModelChange)="onInputChange()"
        type="text"
        class="form-control mb-3"
        placeholder="Search movie..."
      />
      <small class="text-muted" *ngIf="searchTerm"
        >Search term: {{ searchTerm }}</small
      >
      <div
        class="alert alert-warning"
        *ngIf="filteredMovies.length <= 1; else plural"
      >
        {{ filteredMovies.length }} movie found.
      </div>
      <ng-template #plural>
        <div class="alert alert-warning" #plural>
          {{ filteredMovies.length }} movies found.
        </div>
      </ng-template>
    </div>
    <!-- 
    Template parameter with context, we can just use popular movies 
    and getPopularMovies from component class directly just like {popularMovies}
    -->
    <ng-template
      *ngIf="!searchTerm && !selectedCategoryId"
      [ngTemplateOutlet]="movieList3"
      [ngTemplateOutletContext]="{
        popularMovies: movieRepository.getPopularMovies()
      }"
    ></ng-template>
    <ng-template [ngTemplateOutlet]="movieList1"></ng-template>
    <ng-template
      [ngTemplateOutlet]="movieList2"
      *ngIf="!searchTerm"
    ></ng-template>
  </div>
</div>

<ng-template #no_movies>
  <div class="alert alert-danger">Movie not found.</div>
</ng-template>

<!-- Normal list using filtered movies from directly bind to change event -->
<ng-template #movieList1>
  <app-movie *ngFor="let movie of filteredMovies" [movie]="movie"></app-movie>
</ng-template>

<!-- Featured movies , filtered by movieFilter pipe-->
<ng-template #movieList2>
  <h4>Recommended movies</h4>
  <app-movie
    *ngFor="let movie of movies | movieFilter : searchTerm"
    [movie]="movie"
    [selectedMovie]="selectedMovie ? selectedMovie : null"
  ></app-movie>
</ng-template>

<!-- Popular movies -->
<ng-template #movieList3 let-popularMoviesContext="popularMovies">
  <h4>Popular movies</h4>
  <div class="row row-cols-1 row-cols-md-2 g-4 mb-3">
    <div class="col" *ngFor="let movie of popularMoviesContext">
      <div class="card h-100">
        <img
          src="{{ movie.img }}"
          alt=""
          style="height: 300px; object-fit: cover"
        />
        <div class="card-body">
          <h5 class="card-title">{{ movie.title | titlecase }}</h5>
          <p class="card-text">{{ movie.description | summary : 55 }}</p>
          <div class="d-flex justify-content-end">
            <button
              routerLink="/movies/{{ movie.id }}"
              type="button"
              class="btn btn-outline-dark mx-2"
            >
              Details
            </button>
            <button
              (click)="addToList($event, movie)"
              type="button"
              class="btn btn-dark"
            >
              {{ "+" }} Add To List
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <app-movie *ngFor="let movie of popularMoviesContext" [movie]="movie"></app-movie> -->
</ng-template>
