<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-2">
      <img
        src="{{ movie.img }}"
        class="img-fluid rounded-start"
        alt=""
        style="min-height: 200px; object-fit: cover"
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ movie.title | titlecase }}</h5>
        <p class="card-text">
          {{ movie.description | summary }}
        </p>

        <p class="card-text">
          <small class="text-muted"
            >Last updated {{ movie.createdAt | readableTime}}</small
          >
        </p>
        <div class="d-flex justify-content-start">
          <button [routerLink]="['/movies/', movie.id]"  type="button" class="btn btn-outline-dark">
            Details
          </button>
          <button (click)="callAddToList($event, movie)"  type="button" class="btn btn-dark mx-2">
            {{ "+" }} Add To List
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
